

/* Contact Status */

.status {
    padding: 5px;
    width: 0px;
    border-radius: 10px;
}

.online {
    background: #00ff1e;
}

.away {
    background: #fffc00;
}

.away_more {
    background: #c3c118;
}

.offline {
    background: #ff0000;
}

/* Main Styles */

.header_container {
    border-radius: 15px 15px 0px 0px;
    border-bottom: 2px solid black;
    background: #252525;
    background: -moz-linear-gradient(top, #45484d 0%, #1e1e1e 100%);
    background: -webkit-linear-gradient(top, #45484d 0%,#1e1e1e 100%);
    background: linear-gradient(to bottom, #45484d 0%,#1e1e1e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#1e1e1e',GradientType=0 );
    
}

.header {
    font-size: 1.17em;
    font-weight: bold;
}

.selected {
    background-color: #484848;
}


#container {
    width: 325px;
    background: #131313;
    margin: 0 auto;
    border-radius: 15px;
    padding: 1px 1px 40px 1px;
    box-shadow: 0px 4px 5px #0000007d;
}

#drop_down_container {
    float: right;
    padding-top: 10px;
    padding-right: 20px;
}

.white_text {
    color: white;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-20 {
    padding: 20px
}

/* Contact Table */ 

table {
    border-collapse: collapse;
}

#contact_list {
    width: 99%;
}

.no_border_left { border-left: none; }

.border_left { border-left: 1px solid #131313 }

.details_short {
    color: #565656;
}

.details_short_cell {
    width:100%;
}

td {padding: 10px;}

span {font-size: 1em;}
a {font-size: 1em;}
body { font-family: Arial, Helvetica, sans-serif}
.contact_row {cursor: pointer;}

tr {background: #21212175;} /* Opacity 50% hex */

tr.even { background: #212121}


/* Focused Details */

#details {
    z-index: 10000;
    position: absolute;
    width: 205px;
    background-color: #484848;
    display: none;
}

#details_body {
    padding: 10px 0 10px 7px;
}

#details_name {
    background-color: #484848;
    padding: 10px;
    margin-left: -118px;
    width: 50%;
    position: inherit;
}

#details_name .status {
    float: left;
    margin-top: 4px;
}

#focused_name {
    margin-left: 30px;
}

a {
    color: #00f6ff;
}